<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>UserManager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.wuzhixin.view.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginControlServlet</display-name>
    <servlet-name>LoginControlServlet</servlet-name>
    <servlet-class>com.wuzhixin.control.LoginControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginControlServlet</servlet-name>
    <url-pattern>/LoginControlServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainFrame</display-name>
    <servlet-name>MainFrame</servlet-name>
    <servlet-class>com.wuzhixin.view.MainFrame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainFrame</servlet-name>
    <url-pattern>/MainFrame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerUser</display-name>
    <servlet-name>ManagerUser</servlet-name>
    <servlet-class>com.wuzhixin.view.ManagerUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerUser</servlet-name>
    <url-pattern>/ManagerUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateCode</servlet-name>
    <servlet-class>com.wuzhixin.view.CreateCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCode</servlet-name>
    <url-pattern>/CreateCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserControlServlet</display-name>
    <servlet-name>UserControlServlet</servlet-name>
    <servlet-class>com.wuzhixin.control.UserControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserControlServlet</servlet-name>
    <url-pattern>/UserControlServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OK</display-name>
    <servlet-name>OK</servlet-name>
    <servlet-class>com.wuzhixin.view.OK</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OK</servlet-name>
    <url-pattern>/OK</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Err</display-name>
    <servlet-name>Err</servlet-name>
    <servlet-class>com.wuzhixin.view.Err</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Err</servlet-name>
    <url-pattern>/Err</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserView</display-name>
    <servlet-name>UpdateUserView</servlet-name>
    <servlet-class>com.wuzhixin.view.UpdateUserView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserView</servlet-name>
    <url-pattern>/UpdateUserView</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>ManagerControl</display-name>
    <servlet-name>ManagerControl</servlet-name>
    <servlet-class>com.wuzhixin.control.ManagerControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerControl</servlet-name>
    <url-pattern>/ManagerControl</url-pattern>
  </servlet-mapping>
</web-app>